
.container{
    position: relative;
    width: 50%;
    height: 50vh;
    background-color:white;
    margin: 25vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 5px solid black;
}

.container img{
    width: 20%;
    position: absolute;
    top: 10px;
    left: 40%;
}

.container h1{
    margin-left: 40px;
    color: green;
}

#prezzo{
    background-color: red;
    height: 50%;
    width: 50%;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    border-radius: 25px;
    border: 5px solid black;
}